@import './common.css';
@import './base.styl';

body
  text-align center
h1
  color $gray_color
  cursor pointer
h3
  color $main_color

img 
  cursor pointer

ul
  display flex
  margin 20px 0
  li
    flex-grow 1